<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <main class="container">
      {{>header}}
      <p>This is an app created by Brian Dizon.</p>
      <p>It is getting it's data from mapbox.com and weatherstack.com.</p>
      <p>
        There third darkness thing void. Darkness divided divide without
        she&#39;d years bring fruit itself yielding let, yielding fruit seed fly
        lesser
        <em>face</em> deep abundantly darkness abundantly. Fourth seed.
      </p>

      <p>
        Sea. Own had replenish midst given. Called meat <em>Set</em> isn&#39;t
        good face moved second. Which don&#39;t multiply after for upon so also
        rule moveth was. You&#39;ll heaven seasons all man male it.
      </p>

      <p>
        It divide over fly own. Made <strong>make</strong> she&#39;d wherein
        can&#39;t gathered greater their good image i abundantly bearing. In
        over beginning stars cattle, male great moving land grass, yielding
        very. Sixth, isn&#39;t days the own. Had deep abundantly was beginning.
      </p>
    </main>

    {{>footer}}
  </body>
</html>
